.videoFeed{
    display: flex;
}

.scrollPage {
    width: 65%;
    height: 100vh; /* This could be 100vh if you want it to take the full viewport height */
    /* Add other styles like padding, background color, etc., as per your design */
    background-color: #ECECEC;
    position: sticky; /* This is required for absolute positioning of children */
    top: 0;
  }
  
.eventDetails {
    width: 35%;
    height: 200vh; /* This could be 100vh if you want it to take the full viewport height */
    overflow-y: auto; /* This makes the div scrollable */
    background-color: #F5F5F5;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;




  }
  /* .eventDetails {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */

.videoFrame{
    width: 50%; /* Or whatever width you prefer */
    height: 100vh; /* Or whatever height you prefer, vh for viewport height */
    margin: auto; /* This centers the div horizontally */
    position: relative; /* Use absolute positioning within the scrollPage */
    background-color: black
}

  
 
  
  .eventInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    align-items: center;
  }

 
  .infoBlock {
    align-items: center; /* This will vertically center the text with the image */
    margin-bottom: 10px; /* Add space between the info blocks if needed */
  }
  
  .infoBlock p {
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    
  }
  .infoBlock img{
    margin-right: 5px;
    
  }

  .locationSection img {
    margin-right: 5px;
  }


  .iconAndText{
    display: flex;
    align-items: center; /* This will vertically center the text with the image */
    justify-content: flex-start; /* This will align the items to the start of the block */
  }
 
  .inviteButton {
    background: #000;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: block; /* makes the button occupy the full width */
    margin-bottom: 10px;
    border-radius: 7px;

    color: white;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
  }
  
  /* Rest of the CSS for centering the text and additional styling */
  .eventDetails h1 {
    text-align: center;
    color: #000;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .aboutSection, .locationSection {
    text-align: center;
  }
  
  .aboutSection p, .locationSection p {
    text-align: left;
  } 

  .aboutSection p{
    color: rgba(0, 0, 0, 0.59);
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    line-height: 17px; /* 175% */
    letter-spacing: 0.9px;
  }

  .locationSection p{
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
  }
  .eventDetails h2 {
    text-align: left;
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .map{
    border-radius: 7px;
    width: 100%;
    height: 170px;
    background-color: aquamarine;
  }



  .video-content h1{
    color: #ECECEC;
  }

  .video-content p{
    color: #ECECEC;
  }

  @media (min-width: 768px){
    .video-content{
      display: none;
    }
  }





@media (max-width: 768px) {
  
  .scrollPage {
      width: 100%;
      height: 50vh;
  }
  .videoFrame {
      width: 100%;
      height: 100vh;
  }
  .eventDetails {
    display: none;
  }
}


/* @media (min-width: 768px) {
  .scrollPage, .eventDetails {
    display: block;
  
  }
}

@media (max-width: 767px) {
  .scrollPage, .eventDetails {
    display: block;
    width: 100%;
  }
} */